.swiper-title,
.swiper-title-slide2 {
  font-family: "Cera Pro", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-bottom: 10px;
}

.swiper-body,
.swiper-body-slide2,
.swiper-body-slide3 {
  font-family: "Cera Pro", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0%;
  margin-bottom: 20px;
  color: #000;
}

.swiper-body {
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
}

.swiper-body-slide2 {
  font-weight: 600;
  font-size: 50px;
  line-height: 50px;
}

.swiper-body-slide3 {
  font-weight: 600;
  font-size: 50px;
  line-height: 70px;
}

@media (max-width: 768px) {
  .swiper-body {
    font-size: 40px;
    line-height: 45px;
  }

  .swiper-body-slide2,
  .swiper-body-slide3 {
    font-size: 30px;
    line-height: 40px;
  }

  .swiper-title,
  .swiper-title-slide2 {
    font-size: 12px;
    line-height: 14px;
  }
}
@media (max-width: 770px) {
  .hide-on-small {
    display: none !important;
  }
}
